@import url("https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css");
html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Karla', 'lato', sans-serif !important;
}

/* For titles and headings */
h1,
h2,
h3,
h4,
h5,
h6 {
  /* Use Helvetica for a modern look */
  font-family: 'Lato' !important;
  text-transform: capitalize;
  /* or Use Georgia for a classic look */
  /* font-family: Georgia, serif; */
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
}
