.nav-link {
    padding: 10px 20px;
    color: #fff;
}

.nav-link.active {
    background-color: #7aa63f;
    color: #fff;
    transition: background-color 0.3s, color 0.3s;
}

.nav-link:hover {
    background-color: #7aa63f;
}